@import 'elements.less';

@red: #f04d4b;
@green: #213c2d;

@font-face {
    font-family: 'Dinot';
    src: url('./fonts/dinot-regular-webfont.eot');
    src: url('./fonts/dinot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/dinot-regular-webfont.woff') format('woff'),
         url('./fonts/dinot-regular-webfont.ttf') format('truetype'),
         url('./fonts/dinot-regular-webfont.svg#dinotbold') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'DinotBold';
    src: url('./fonts/dinot-bold-webfont.eot');
    src: url('./fonts/dinot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/dinot-bold-webfont.woff') format('woff'),
         url('./fonts/dinot-bold-webfont.ttf') format('truetype'),
         url('./fonts/dinot-bold-webfont.svg#dinotbold') format('svg');
    font-weight: bold;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	background: url(images/website-optimized.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: auto 100%;*/
  font-family: DinotBold, Dinot ,serif; 
  padding: 0;
}

.container {
	color: @red;
	font-family: Dinot ,serif; 
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.container::after {
	display: none;
}

#overlay {
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,8) 0%, rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to top,  rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%);
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#share {
	z-index: 3;
	padding: 28px 30px 0 30px;
	> div {
		display: inline-block;
		a {
			background: #fff;
			color: #4c4c4d;
			margin-right: 7px;
			padding: 6px 7px 4px;
			text-decoration: none;
			.drop-shadow(0, 1px, 5px ,0.1);
			.rounded(3px);
		}
	}
	width: 100%;
}

#logo {
	margin: 42px auto 42px;
	img {
		width: 102px;
		height: 116px;
	}
}

.lead {
	color: #fff;
	display: block;
	font-family: 'DinotBold';
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 21px;
	margin: 0 auto 42px;
	//text-shadow: none;
	text-transform: uppercase;
	text-align: center;
	width: auto;
}

.lead-secondary {
	color: #fff;
	display: block;
	font-family: 'DinotBold';
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 0 auto 14px;
	//text-shadow: none;
	text-transform: uppercase;
	text-align: center;
	width: auto;
	span.number {
		background: @red;
		border-radius: 14px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.3);
		color: #000;
		display: inline-block;
		font-size: 17.5px;
		height: 28px;
		line-height: 28px;
		margin-bottom: -4px;
		margin-right: 10px;
		//padding-top: 1px;
		width: 28px;
	}
}

.donate-block {
	display: block;
	margin: 0 auto 56px;
	width: 100%;
	.donate-banner {
		display: block;
		margin: 0 auto 14px;
		position: relative;
		text-align: center;
	}
	.donate-banner-last {
		margin-bottom: 0;
	}
	#unicef {
		img {
		  height: 28px;
		}
	}
	#red-cross {
		img {
		  height: 70px;
		}
	}
}

a.connect {
	background: none;
	border: 3px solid @red;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'DinotBold';
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 42px;
	margin: 0 auto 56px;
	outline: none;
	padding: 14px 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-shadow: none;
	transition: all 0.3s;
	img.x {
		float: right;
		height: 42px;
		margin-left: 10px;
		width: 42px;
	}
}

a.connect:hover,
a.connect:active {
	background: @red;
	color: #fff;
	background: @red;
	text-decoration: none;
	text-shadow: none;
}

#social {
	display: inline-block;
	font-family: 'Dinot';
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 14px;
	margin: 0 auto 56px;
	text-transform: uppercase;
	width: 100%;
	a {
		border-bottom: 3px solid #fff;
		color: #fff;
	display: inline-block;
		padding: 5px 0;
		text-decoration: none;
	}
	a:hover,
	a:active {
		border-color: @red;
		text-decoration: none;
	}
	span.separator {
		color: #fff;
		margin: 0 20px;
	}
}


#notification-overlay {
	display: none;
}

#notification-overlay.show {
	display: block;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#notification-window {
	display: none;
	text-align: center;
}

#notification-window.show {
	display: block;
	> div {
	  height: 200px;
    margin: 25% auto;
	  width: 80%;
	}
}

#popup-btn {
	width: 100px;
	height: 100px;
	display: inline-block;
}

#popup-box {
	display: inline-block;
	background: #fff;
	padding: 24px 20px;
	.border-radius(none);
	div {
		display: inline-block;
		p, a {
			color: #000;
			font-family: 'Dinot';
			text-transform: uppercase;
		}
		a {
			font-family: 'DinotBold';
			text-decoration: underline;
		}
		#close {
			text-decoration: none;
			margin-left: 10px;
			position: relative;
      top: 3px;
		}
	}
}

#popup-btn {
	margin-top: -55px;
  margin-bottom: 23px;
}

/* */

@media (min-width: 500px) {

	.container {
		max-width: 650px;
	}

	#logo {
		margin: 42px auto 42px;
	}

	.lead {
		font-size: 21px;
		line-height: 31.5px;
		margin-bottom: 42px;
	}

	.donate-block {
		.donate-banner {
			display: inline;
		}
		.donate-banner-last {
			margin-left: 20px;
		}
	}
}

@media (min-width: 650px) {

	.container {
		max-width: 950px;
	}

	.lead {
		font-size: 28px;
		line-height: 42px;
	}
}

@media (min-width: 950px) {

	.container {
		max-width: 1100px;
	}

	#notification-window.show {
		> div {
		  width: 40%;
		}
	}

	#logo {
		margin: 56px auto 56px;
	}

	.lead {
		font-size: 35px;
		line-height: 49px;
		margin-bottom: 56px;
	}
}

@media (min-width: 1100px) {

	.container {
		max-width: 1400px;
	}

	.lead {
		font-size: 49px;
		line-height: 63px;
	}
}

@media (min-width: 1400px) {

	.container {
		max-width: 10000px;
	}

	.lead {
		font-size: 56px;
		line-height: 70px;
	}
}